
/**
 * @author duantao
 * @file 样式
 * @date 2018/7/27
 */

.filter-place-page {
    z-index: 1000;
    width: 3rem;
    background: #f3f5f7;
}

.filter-place-page header {
    height: .4rem;
    line-height: .4rem;
    background: #6aadff;
    color: #333;
    font-size: .16rem;
    text-align: center;
    padding-right: .3rem;
}

.filter-place-page header h2 {
    font-size: .16rem;
    position: relative;
}

header h2 img {
    position: absolute;
    height: .3rem;
    width: .3rem;
    top: .05rem;
    right: -0.2rem;
}

section .input-box {
    height: .31rem;
    line-height: .3rem;
    display: flex;
    background: #f2f2f2;
    border-bottom: 0.01rem solid #eee;
    padding-left: .1rem;
}

.input-box .input-address {
    flex: 1;
    border: 0;
    height: .3rem;
    padding-left: .1rem;
    font-size: .14rem;
}

input:focus {
    outline: none;
}

.input-box .filter-btn {
    cursor: pointer;
    margin-right: .1rem;
    width: .6rem;
    height: 100%;
    border: 0;
    background: antiquewhite;
    color: #6aadff;
    outline-width: 0;
}


.address-list {
    background: #f3f5f7;
}

.address-list div {
    height: .4rem;
    border-bottom: .01rem solid #ccc;
    padding-left: .1rem;
    line-height: .4rem;
    font-size: .14rem;
}




