
/**
 * @author duantao
 * @file 样式
 * @date 2018/7/27
 */


aside {
    transition: width 1s;
}


@media screen and (max-width: 800px) {
    aside {
        position: fixed !important;
        width: 2rem !important;
    }
}
.filter-place-page {
    z-index: 1000;
    background: #f3f5f7;
    width: 3rem;
}

.hide-box {
    width: 0 !important;
}

.filter-place-page .show {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.filter-place-page header {
    height: .4rem;
    line-height: .4rem;
    background: #6aadff;
    color: #333;
    font-size: .16rem;
    text-align: center;
    padding-right: .3rem;
}

.filter-place-page header h2 {
    font-size: .16rem;
    position: relative;
}

header h2 img {
    position: absolute;
    height: .3rem;
    width: .3rem;
    top: .05rem;
    right: -0.2rem;
}

.hide {
    height: .4rem;
    width: .4rem;
    position: fixed;
    top: .4rem;
    background: #f00;
    display: none;
}

.hide img {
    height: .3rem;
    width: .3rem;
    margin: 0.05rem 0.05rem;
}

section .input-box {
    height: .31rem;
    line-height: .3rem;
    display: flex;
    background: #f2f2f2;
    border-bottom: 0.01rem solid #eee;
    padding-left: .1rem;

}

.input-box .input-address {
    flex: 1;
    border: 0;
    height: .3rem;
    padding-left: .1rem;
}

.input-address #select-address {
    font-size: .12rem;
}


.input-box .filter-btn {
    cursor: pointer;
    margin-right: .1rem;
    width: .6rem;
    height: 100%;
    border: 0;
    background: antiquewhite;
    color: #6aadff;
    outline-width: 0;
    font-size: .12rem;
}
.input-box .filter-btn:focus {
    outline: 1px solid #6aadff;
}

.address-list {
    background: #f3f5f7;
}

.address-list div {
    height: .4rem;
    border-bottom: .01rem solid #ccc;
    padding-left: .1rem;
    line-height: .4rem;
    font-size: .14rem;
}




