/**
 * @author duantao
 * @file 样式
 * @date 2018/7/27
 */

html, body {
    height: 100%;
    width: 100%;
}


body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#root {
    height: 100%;
    width: 100%;
}

