/**
 * @author duantao
 * @file 样式
 * @date 2018/7/27
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    white-space:nowrap
}

ul, ol, li {
    list-style: none;
}

html, body {
    height: 100%;
    width: 100%;
}


body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1;
}

#root {
    height: 100%;
    width: 100%;
}

